.CreatePost {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  justify-content: center;
  display: flex;
}
.backdrop {
  z-index: 3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: black;
  opacity: 0.5;
}
