.PostGrid {

  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
  @media only screen and (max-width: 45rem) {
    grid-gap: 0.3rem;
  }
  width: 100%;
  max-width: 60rem;
  padding-top: 2rem;
  margin-bottom: 5rem;
}
