.FormPage {
  width: 100%;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  max-width: 23rem;
  .other-box {
    @media only screen and (min-width: 38rem) {
      margin-top: 1rem;
      padding: 1rem;
    }
    margin-top: 0;
    padding: 1rem;
    padding-top: 0;
    text-align: center;
  }
  a {
    font-weight: bolder;
    color: #008cff;
  }
}

.form {
  h1 {
    text-align: center;
    margin-top: 2rem;
  }
  h2 {
    text-align: center;
    font-size: 1rem;
    opacity: 0.5;
    margin: 0 3rem;
  }
  .validation-error {
    font-size: 0.875rem;
    color: #ed4957;
    font-weight: bold;
  }
  form {
    margin: clamp(0px, 10vw, 3rem);
    margin-top: 1rem;
    margin-bottom: 3rem;
    label {
      display: none;
    }
    input,
    button {
      margin-top: 0.7rem;
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      display: inline-block;
      width: 100%;
    }
    input {
      border-radius: 3px;
      border: 1px solid #dbdbdb;
      outline: none;
      background: #fafafa;
    }
    button {
      margin-top: 2rem;
      font-weight: bold;
      font-size: 0.875rem;
      cursor: pointer;
      background: #008cff;
      color: white;
      border: none;
      border-radius: 3px;
    }
    button:disabled {
      cursor: auto;
      opacity: 0.5;
      // background: red;
    }
  }
  .error {
    margin-top: 2rem;
    color: #ed4957;
    text-align: center;
    animation: grow-in 1s ease forwards;
    font-weight: bold;
  }
  .warning {
    font-size: 0.8rem;
    opacity: 0.5;
}
}
