.User {
  display: flex;
  margin: 1rem auto;
  width: 100%;
  align-items: center;
  max-width: 40rem;
  margin-bottom: 11rem;
  .avatar-wrapper {
    min-height: 4rem;
    min-width: 4rem;
    width: 20vw;
    height: 20vw;
    max-width: 10rem;
    max-height: 10rem;
    margin: 0.7rem;
    .Avatar {
      margin: 0;
    }
  }
  .right {
    flex: 1;
    height: 100%;
    .username {
      display: flex;
      margin-left: clamp(1px, 5vw, 3rem);;
      margin-bottom: 1rem;
      //   align-items: flex-center;
      justify-content: space-between;
      margin-right: 1rem;
      flex-wrap: wrap;

      h1 {
        width: 8rem;
        margin: 0;
        font-weight: normal;
        font-size: 1.5rem;
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
      }
      button {
        cursor: pointer;
        border: none;
        outline: none;
        background: #008cff;
        color: white;
        padding: 0 2rem;
        border-radius: 5px;
        font-weight: bolder;
        height: 2rem;
        font-size: 0.9rem;
      }
    }

    .stats {
      margin-left: clamp(1px, 5vw, 3rem);;
      margin-right: 1.3rem;
      max-width: 22.5rem;
      display: flex;
      justify-content: space-between;
      h2,
      p {
        text-align: center;
        margin: 0;
      }
      h2 {
        font-size: 1.2rem;
      }
    }
    .bio {
      // transform: translateY(1rem);
      height: 0;
      //   padding-top: 1rem;
      margin-left: clamp(1px, 5vw, 3rem);;
    }
  }
}
