.SelectImage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 100vh;
  width: 100vw;
  max-width: 30rem;
  background: white;
  display: flex;
  flex-flow: column;

  .header {
    .exit-and-title {
      display: flex;
      align-items: center;
      h1 {
        font-weight: bold;
        font-size: 1.8rem;
        margin: 0;
      }
      img {
        margin: 1.2rem 2rem 1.2rem 1.2rem;
      }
    }
  }

  .preview {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
    max-height: 30rem;

    img {
      width: 100%;
      object-fit: contain;
      height: 100%;
      animation: fadeIn 0.3s linear;
      @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

    }
  }

  .images {
    overflow-y: auto;
    max-height: 100%;
    display: grid;
    margin: 0.2rem;
    grid-gap: 0.2rem;
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));

    @media only screen and (max-width: 265px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
