.PostProgress {
  margin: auto;
  width: 100%;
  max-width: 38rem;
  margin-bottom: 1rem;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .status {
      display: flex;
      align-items: center;
      h2 {
        font-size: 1rem;
        opacity: 0.5;
        font-weight: normal;
        margin: 0;
        vertical-align: middle;
      }
      img {
        margin: 0.7rem;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
    .progress {
      height: 0.3rem;
      background: #c9e7ff;
      .progress-filled {
        transition: width 0.3s ease-in-out;
        background: #008cff;
        height: 100%;
        width: 0%;
      }
    }
  }
}
